<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <title>Document</title>
</head>
<body>
    <main id='app'>
        <div>
            <input type="text" placeholder="tarea" v-model="tarea" :key="tarea" @keyup.enter="mounted(tarea)"/>
        </div>
        <ul>
            <li v-for="(tarea, index) in tareas" :key="tarea" @click="borrarTarea(index)">
                 {{tarea}}
            </li>
        </ul>
    </main>
</body>
</html> 
<script>
    new Vue({
            el: "#app", 
            data:{
            tareas: ["comer","trabajar"]

            },


            methods:{
                mounted(tarea) {
                    console.log(this.tareas);
                    
                    this.tareas.push(tarea);
                },
                borrarTarea(index){
                    alert(index);
                    setTimeout(()=>{
                    this.tareas.splice(index,1);
                    }, 200)
                }
            }
    })
  </script>  